/* css/estilos.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: white;
    line-height: 1.6;
}

.hero {
    background: black url('https://raw.githubusercontent.com/EdgarJazyel/LAMBORGHINI-TEMERARIO/refs/heads/gh-pages/frente_temer.jpeg?raw=true') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
    max-width: 600px;
}

.menu {
    background: #181818; 
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: red;
}

.seccion {
    display: none;
    padding: 40px 20px;
}

.seccion.active {
    display: block;
}

.contenido {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.portada-img {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.formulario button {
    background: red;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.alerta-js {
    background: #222;
    color: red;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.cumplimiento {
    background: #1a1a1a;
    padding: 30px;
    text-align: left;
    max-width: 90%;
    margin: 20px auto;
    border-radius: 10px;
}

.cumplimiento ul {
    list-style: disc inside;
    padding-left: 20px;
}
